.logos {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: fff;
  max-width: 500px;
  margin: auto !important;
  margin-bottom: 150px;
}

@media (max-width: 600px) {
  .logos {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: fff;
    max-width: 100% !important;
    margin: auto;
    margin-top: 0px !important;
  }
}
/* PAGE */
.register-page {
  height: 100vh;
  background: #fff;
  padding: 24px 40px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

/* TOP BAR */
.register-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.back-arrow {
  font-size: 20px;
  cursor: pointer;
}

.app-title {
  font-size: 14px;
  font-weight: 500;
}

/* TOGGLE */
.auth-toggle {
  background: #e6ebf2;
  border-radius: 999px;
  padding: 4px;
  display: flex;
}

.auth-toggle button {
  border: none;
  background: transparent;
  padding: 10px 22px;
  border-radius: 999px;
  cursor: pointer;
  font-size: 14px;
}

.auth-toggle button.active {
  background: #fff;
  font-weight: 600;
}

/* MAIN CONTENT */
.register-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
  align-items: flex-start;
}

/* LEFT */
.register-left h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.register-left p {
  font-size: 16px;
  color: #555;
}

/* RIGHT FORM */
.register-form {
  width: 420px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.form-group label {
  font-size: 13px;
  margin-bottom: 6px;
}

.form-group input {
  height: 44px;
  border-radius: 8px;
  border: none;
  background: #f5f5f5;
  padding: 0 14px;
  font-size: 14px;
  outline: none;
}

.form-group input:focus {
  background: #fff;
  border: 1px solid #9ec5ff;
}

/* SUBMIT */
.submit-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

.submit-row button {
  background: #042954;
  color: #fff;
  border: none;
  padding: 12px 32px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}
.password-input-wrapper {
  position: relative;
}

.password-input-wrapper input {
  width: 100%;
  padding-right: 40px; /* space for eye icon */
}

.password-input-wrapper i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 14px;
}

.password-input-wrapper i:hover {
  color: #042954;
}
